@using BarEventPlannerV2.Models
@model Event

@*Make Bootstrap Card and card body divs*@
<div class="card mb-3">
	<div class="card-body">
		
		@*Titel & Id same row*@
		<div class="row">
			<div class="col-6">
				<h5 class="card-title">@Model.Titel</h5>
			</div>
			<div class="col-6">
				<h5 class="card-title text-end">Id: @Model.Id</h5>
			</div>


			
		</div>
	</div>
</div>
		
		
			
				

