@page
@model BarEventPlannerV2.Pages.Event.ListOfEventCardsModel
@{
}
@*Lavet af Tristan*@
<h1>Liste over Events</h1>

@if (Model.Events.Count == 0)
{
	<p>Der er ingen events</p>
}
else
{
	@*Bruger en liste's Sort() metode og fortæller at den skal bruge DateTime's Compare() metode til at sammenligne dato objekter*@
	Model.Events.Sort((x, y) => DateTime.Compare(x.StartTidspunkt, y.StartTidspunkt));
	
	<div class="row">
		@foreach (var itemEvent in Model.Events)
		{
			<div class="row">
				@await Html.PartialAsync("/Pages/Shared/_EventCardPartial.cshtml", itemEvent)
			</div>
		}
	</div>
}