@page
@model BarEventPlannerV2.Pages.Event.OpretEventModel
@{
}
@*Lavet af Tristan*@
<h1 style="text-align:center; color:white;" class="mb-4">Opret Event</h1>

<form method="post">
	@*Bruger det generelle del view (som ikke har knapper i bunden):*@
    @await Html.PartialAsync("/Pages/Shared/_FormViewPartial.cshtml", Model.Event)

    @*Laver andre knapper*@
    @*Bestil og Annuller knap*@
       <div class="row">
        <div class="col-5">

        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-success mt-3 px-3 d-inline">Opret</button>
            <button type="reset" class="btn btn-danger mt-3 d-inline">Reset Form</button>
			
            @*<a class="btn btn-sm btn-primary" type="button" title="Opret"
               asp-page="List" asp-route-id="@Model.Event.Id">Opret Event</a>*@

            @*<a class="btn btn-sm btn-warning" type="button" title="Annuller"
               asp-page="ListOfEventCards">Annuller</a>*@
			
        </div>
        <div class="col-1">
        </div>  
		
</form>



